* {
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}

#header h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}

#header .brand-name {
  color: #0d6efd;
}

.margin-custom{
  margin-top: 15vh!important;
  margin-bottom: 15vh!important;
}

h2 {
  color: #484848;
  font-size: 24px;
}

.brand-name{
  width: 40vh;
}

.btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #0d6efd;
  border: 2px  #0d6efd;
  text-decoration: none;
  background-color: #ffffff;
}
.btn-get-started:hover {
  background-color: #0d6efd;
  color: #ffffff;
}

#logo{
  width: 40vh;
}

.animated {
  animation: up-down 2.5s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}


