* {
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}

#header h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}

#header .brand-name {
  color: #0d6efd;
}

.margin-custom {
  margin-top: 15vh !important;
  margin-bottom: 15vh !important;
}

.a-perfect-place {
  animation: entry-1;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

h2 {
  color: #484848;
  font-size: 24px;
}

.brand-name {
  width: 40vh;
  animation: entry-2;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

.btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #0d6efd;
  border: 2px #0d6efd;
  text-decoration: none;
  background-color: #ffffff;
}

.btn-anim {
  animation: button-entry 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

.floater-anim{
  animation: floater 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

.btn-get-started:hover {
  background-color: #0d6efd;
  color: #ffffff;
}

#logo {
  width: 40vh;
}

.animated {
  animation: up-down 2.5s ease-in-out infinite alternate-reverse both;
}

.box-shadow-card{
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius:10px;
  background-color: #fcfcfc;
  margin-bottom: 20px;
}

@keyframes up-down {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes button-entry {
  0% {
    opacity: 0.5;
    transform: translateY(50%);
  }
  90%{
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes entry-1 {
  0% {
    opacity: 0.5;
    transform: translateX(15%);
  }
  90%{
    transform: translateX(-1%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes entry-2 {
  0% {
    opacity: 0.5;
    transform: translateX(-15%);
  }
  90%{
    transform: translateX(1%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes floater{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
